$height: 8px;
$pointer: 20px;
$pad: 8px;

.slider {
  height: $height;
  padding: $pad 0;
  position: relative;
}

.bg {
  background: #dddddd;
  height: $height;
}

.fill {
  background: #03bfda;
  bottom: $pad;
  height: $height;
  left: 0;
  position: absolute;
  top: $pad;
}

.pointer {
  background: #ffffff;
  border: 1px solid #2399e5;
  border-radius: 50%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  cursor: pointer;
  height: $pointer;
  position: absolute;
  top: ($height - $pointer) / 2 + $pad;
  transform: translateX(-50%);
  width: $pointer;
  &:focus {
    background: #f9f9f9;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, .4);
    outline: none;
  }
}

.slider-tooltip {
  position: absolute;
  content: "";
  top: -40px;
  left: -14px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  width: 44px;
  border-radius: 8px;
  padding: 5px 0 3px;
  text-transform: uppercase;
  background-color: #03bfda;
  color: #ffffff;
}

.slider-tooltip::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -24px;
  border: 10px solid transparent;
  border-top: 16px solid;
  border-top-color: #03bfda;
}