<div class="main-header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-4 border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">LEASEWEB</h5>
  <span class="text-right">FOR DEMO ONLY</span>
</div>
<div class="container-fluid main-container">
  <store-front></store-front>
</div>

<div class="container-fluid">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md text-center">
        <small class="d-block mb-3 text-muted">&copy; 2018 Muhammadali</small>
      </div>
    </div>
  </footer>
</div>

